<header>
  <h3>Nav</h3>
  <nav>
    <ul>
    </ul>
  </nav>

</header>
<main>
  <section class="sidebar">

    {@html pageData.area.sidebarContent}
  </section>
  <section class="main-content">
    <Page {...pageData.page}></Page>
  </section>
</main>
<style>
  .sidebar {
    width: 25%;
  }
  main {
    display: flex;
    flex: 0 1 auto;

  }

  .main-content {
    width: 75%;
  }
</style>
<script>
  import Page from "components/Page.html";
  export default {
    components: { Page }
  }
</script>