<nav>
  <ul class="top-level">
    {#each $navigation as link}
      <li>
        <a class="nav-item" href="{link.href}">{link.title}</a>
      </li>
    {/each}
  </ul>
</nav>

<style>
  nav {
    display: block;
    padding: 0rem 0rem;
    margin-top: 1rem;
  }
  
  ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
  }
  
  li {
    margin: 0 0;
  }
  
  .nav-item {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
  }
  
  .nav-item:hover {
    background-color: rgba(0,0,0,0.02);
  }

</style>

<script>
  export default {
    data() {

      return {
        activeArea: null,
        activePage: null,
      }
    },

    computed: {
      areas: ({ $areas }) => Object.values($areas || {})
    }
  }
</script>