<svelte:component this={Page} {pageData} />

<script>
  /* global URLSearchParams */

  // systems
  import Router from "helpers/router";

  // import our routes
  import indexRoutes from "routes/controller.js";
  // import authenticationRoutes from "routes/authentication.js";
  // import dashboardRoutes from "routes/dashboard.js";

  // pages
  import Loading from "components/Loading.html";
  import NotFound from "pages/NotFound.html";


  export default {

    data() {
      return {
        Page: Loading,
        pageData: {},
      }
    },

    oncreate() {

      indexRoutes.init(this);

      Router.setNotFoundRoute(this, NotFound);
      Router.start();
    }

  };

</script>